{% extends 'rango/base.html' %} <!-- Specifies the template this HTML page inherits from -->
{% load staticfiles %} <!-- Loads static files so this page can use any content in the static directory -->

{% block title_block %} <!-- Page title -->
    About Rango
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4"> <!-- Jumbotron containing a page heading -->
        <div class="container">
            <h1 class="jumbotron-heading">Rango says...</h1>
        </div>
    </div>
    <div>
        here is the about page. <br />
        This tutorial has been put together by Joel Gibson.<br />
        <p>Visits: {{ visits }}</p>
    </div>
    <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" /> <!-- Shows loading of a static asset -->
    <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" /> <!-- Shows loading of non-static asset (in media) -->
{% endblock %}
