<!DOCTYPE html>
<html>
  <head>
    <title>Rango</title>
  </head>

  <body>
  <h1>Add a Category</h1>
    <div>
      <form id="add_page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
        {% csrf_token %} <!-- Cross-site Request Forgery Token Info here: https://docs.djangoproject.com/en/2.0/ref/csrf/ -->
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <br />
          {{ field.errors }}
          {{ field.help_text }}
          {{ field }}
        {% endfor %}
        <br />
        <input type="submit" name="submit" value="Add Page" />
      </form>
    </div>
  </body>
</html>
